/*
 *	Background Color: #222
 *	Color: #fff
 */

body {
	font-family: 'Kameron', serif;
}

#container {
	color: #fff;
	background-color: #222;
	width: 960px;
	margin: 0 auto;
}

#copyright {
	text-align: center;
	padding: 1em 0;
}

#header, #content-area, #footer {
	padding: 0 1em;
	overflow: hidden;
}

#content-area {
	min-height: 500px;
	background-color: #fff;
	color: #000;
	padding: 1em;
}

#footer {
	padding-top: 1em;
}

.logo {
	font-family: 'Radley', serif;
	font-size: 4em;
}

.logo a:link,
.logo a:visited,
.logo a:hover {
	color: #fff;
	text-decoration: none;
}

a:link,
a:visited,
a:hover {
	text-decoration: none;
	outline: none;
}

#header,
#header a:link,
#header a:visited,
#header a:hover {
	color: #fff;
}

#header .block-menu {
	padding: 0.5em;
	padding-bottom: 1em;
}

#header .block-menu ul.menu li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	padding: 0;
}

#header .block-menu ul.menu li a:link,
#header .block-menu ul.menu li a:visited,
#header .block-menu ul.menu li a:hover {
	font-weight: bold;
}

#header .block-menu ul.menu li a:hover,
#header .block-menu ul.menu li.active-trail a:link,
#header .block-menu ul.menu li.active-trail a:visited,
#header .block-menu ul.menu li.active-trail a:hover {
	color: #ffcc88;
}

.column {
	float: left;
}

#content-area a:link,
#content-area a:visited,
#content-area a:hover {
	color: #883311;
}

#main-content {
	width: 70%;
}

.region-content {
	padding-right: 1em;
}

#sidebar {
	width: 30%;
	background-color: #eee;
}

.region-sidebar {
	padding: 1em;
}

#sidebar .block h2 {
	font-size: 1.3em;
	font-weight: bold;
}

#sidebar .block .content {
	padding-top: 1em;
}

#sidebar .block .content p {
	padding-bottom: 1em;
}

#sidebar .block .content ul.contact-details {
	padding: 0 0.3em;
}

#sidebar .block .content ul.contact-details li {
	padding-bottom: 0.2em;
}

#sidebar .block .content ul.contact-details li.address p {
	padding: 0;
}

#sidebar .block .content ul.contact-details li.name,
#sidebar .block .content ul.contact-details li .title {
	font-size: 1.2em;
}

#footer .content p {
	margin-bottom: 1em;
}

#footer .content em {
	font-weight: bold;
}
